:root {
    --primario:#005a03;
    --colorLogo:#ecfddf;
    --blanco:#ffffff;
    --negro:#000000;
    --fuenteHeading: 'Fira Sans', sans-serif;
    --fuenteParrafo: 'Fira Sans', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem; /* 1 rem = 10px con esta regla*/
    font-family: var(--fuenteParrafo);
    line-height: 2;
}

/*GLOBALES*/
.contenedor{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size:3.2rem;
}
h4{
    font-size:2.8rem;
}
img{
    max-width: 100%;
    width: 95%;
}
.noMargin{
    margin: 0;
}
.noPadding{
    padding: 0;
}
.centrarTexto{
    text-align: center;
}

/*SCROLL*/
.header,
.entrada1,
.entrada2,
.entrada3{
	scroll-snap-align: center;
	scroll-snap-stop: normal;
}
/*--HEADER--*/

.header{
    background-image: url(../img/BACKGROUND3.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
.header__texto{
	text-align: center;
	color: var(--blanco);
	margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto{
    	margin-top: 15rem;
    }
}

@media (min-width: 768px) {
    .barra{
    	display: flex;
	justify-content: space-around;
	align-items: center;
    }
}
.logo{
	color: var(--colorLogo);
}
/*
.logo__nombre{
	font-weight: 400;
}
*/
.logo__bold{
	font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion{
    	display:flex;
	gap: 2rem;
    }
}
.navegacion__enlace{
	display: block;
	text-align: center;
	font-size: 2.8rem;
	color: var(--colorLogo);
}
@media (min-width: 768px) {
    .contenidoPrincipal{
    	display: grid;
	grid-template-columns:2fr 1fr;
	column-gap: 4rem;
    }
}
/*CONTENIDO-PRINCIPAL*/
.entrada{
	border-bottom: 1px solid #cfe8c2;
	margin-bottom:2rem ;
}
.entrada:last-of-type{
	border: none;
	margin-bottom: 1;
}
.boton{
	display: block;
	font-family: var(--fuenteHeading);
	color: var(--blanco);
	text-align: center;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom:2rem ;
}
@media (min-width: 768px) {
    .boton{
    	display: inline-block;
    }
}

.boton--primario{
	background-color: var(--negro);
}
